body {
    font-family: sans-serif;
    color: #777777;
    line-height: 26px;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 20px;
}
span{
    color: #8845f4;
}
p{
    font-size: 20px;
}
.container{
    padding-left: 5%;
    display: inline-block;
    padding-top: 2%;
}
.half-width{
    width: 50%;
    float: left;
}
.side-img{
    width: 50%;
    padding-left: 25%;
}
footer{
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.button{
    color: white;
    text-decoration: none;
    background-color: #8845f4;
    padding: 13px 42px;
    border-radius: 20px;
    font:bold;
    font-size: 20px;
    cursor: pointer;
}
.experiences{
    background-color: rgb(189, 239, 254);
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
}
.experience-item {
    padding: 10px 10px 10px 25px;
    border-left: 3px solid rgba(92, 82, 241, 0.2)
}